{:kotoba.app/id "cloud.itonami.isic-8710", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiddnxrg3stb2erz5oqxwju3bymsdpue2ke6vqt534rimnv3ega3ai", :kotoba.app/embed-url "ipfs://bafkreiddnxrg3stb2erz5oqxwju3bymsdpue2ke6vqt534rimnv3ega3ai", :published {:archive "https://kotobase.net/ipfs/bafkreiddnxrg3stb2erz5oqxwju3bymsdpue2ke6vqt534rimnv3ega3ai", :size 78285, :put-status 201, :get-status 200, :at "2026-08-15T14:02:39.977Z"}}
